{{!-- views/movie-views/movies-list.hbs --}}
<h1>Pet</h1>
<hr>
<div class="row">
  {{#each pet}}
    <div class="col-md-4 mb-5">
      <div class="card" style="width: 18rem;">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{description}}</p>
        </div>
      </div>
    </div>
  {{else}}
    <p>There are no pets yet!</p>
  {{/each}}
  <hr />
</div>
